@import "styles/shared.scss";

// .header {
//   min-height: 80px;
//   background-color: #5678eb;
// }
.AppBar {
  display: flex;
  // align-items: center;
  // justify-content: center;
  min-height: 80px;
  padding: 30px 15px;
  // background-color: #6b5926;
  background-image: linear-gradient(
    60deg,
    $bcg-cl-gradient-first 10%,
    $bcg-cl-gradient-second 50%
  );
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 20px;
  margin: 0;
  background-attachment: scroll;
}
.Navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  // margin-left: auto;
}
.Logo {
  margin-right: 350px;
  margin-left: 250px;
}
