@import "styles/shared.scss";

.MovieCard_thumb {
  height: 300px;

  & > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.card {
  background-color: #fff;
  display: flex;
}
.AdditionalInfo {
  border: 1px solid rgb(155, 108, 6);
  background-color: #fff;
}
.AdditionalInfo__title {
  font-weight: 600;
  text-transform: uppercase;
}
.GoBackBtn {
  padding: 10px 15px;
  margin-bottom: 15px;
  font-weight: 600;
  background-color: rgb(155, 108, 6);
  &:hover {
    background-color: #e45447;
  }
}
