@import "styles/shared.scss";

.MovieCard_thumb {
  height: 300px;

  & > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.card {
  background-color: $bcg-cl-card;
  display: flex;
}
.AdditionalInfo {
  border: 1px solid $btn-bgc-cl;
  background-color: $bcg-cl-card;
}
.AdditionalInfo__title {
  font-weight: 600;
  text-transform: uppercase;
}
.GoBackBtn {
  padding: 10px 15px;
  margin-bottom: 15px;
  font-weight: 600;
  background-color: $btn-bgc-cl;
  &:hover {
    background-color: $hover-bgd-cl;
  }
}
