$main-color: #e28a17;
$font-cl-active: rgb(136, 12, 12);
$bcg-cl-btn: #ac8225;
$bcg-cl-gradient-first: #ad8821;
$bcg-cl-gradient-second: #9c4543;
$hover-cl-btn: #303f9f;
$hover-bgd-cl: #e45447;
$btn-bgc-cl: rgb(155, 108, 6);
$bcg-cl-card: #e8e5bf;
$bcg-cl-cast: #9f873047;
